.alert:empty { display: none; }

#chat-box {
  min-height: 100px;
  max-height: 225px;  
  padding: 5px;
  border: 1px solid #000;
  overflow: scroll;
}

#chat-form{
  width: 250px;
  padding: 5px;
  border: 1px solid #ccc;
}
